<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        @*<form action=" /HomeController.cs" method="get">*@ 
    </div>
</body>
</html>
