
@{
    ViewBag.Title = "fileDisplay";
}

<body background="~/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed">
</body>

<div>
    <table>
        <tr>
            <td>lon:  </td>
            <td><p type="text" id="lonNum" size="50"></p></td>
        </tr>
        <tr>
            <td>lat:  </td>
            <td><p type="text" id="latNum" size="50"></p></td>
        </tr>
    </table>
</div>

<canvas id="myCanvas"
        style="border:1px;"></canvas>
<script>

    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");
    canvas.height = window.innerHeight;
    canvas.width = window.innerWidth;
    function setLon(lon) {
        if (lon < 0)
            return (canvas.width / 2) * (1 - Math.abs(lon) / 180)
        else
            return (canvas.width / 2) * (1 + Math.abs(lon) / 180)
        //lon += 10
    }

    function setLat(lat) {
        if (lat < 0)
            return (canvas.height / 2) * (1 - Math.abs(lat) / 90)
        else
            return (canvas.height / 2) * (1 + Math.abs(lat) / 90)
        //lat += 10
    }

    //setLon();
    //setLat();

    var IntervalTime = @Session["time"] * 1000
    var TimeoutT = @Session["seconds"] * 1000
    myTimer = (function () {
        $.post("@Url.Action("WriteVal")").done(function (xml) {
            //alert(xml);
            var xmlDoc = $.parseXML( xml ),
            $xml = $( xmlDoc ),
            lon = $xml.find("Lon").text();
            lon = setLon(parseFloat(lon));
            lat = $xml.find("Lat").text();
            lat = setLat(parseFloat(lat));

            $("#lonNum").text(lon);
            $("#latNum").text(lat);

            if ((typeof myTimer.prevLon == 'undefined') || (typeof myTimer.prevLat == 'undefined')) {
                ctx.beginPath();
                ctx.fillStyle = "red";
                ctx.arc(lon, lat, 5, 0, 2 * Math.PI);
                ctx.stroke();
                ctx.fill();
            } else {
                ctx.beginPath();
                ctx.moveTo(myTimer.prevLon, myTimer.prevLat);
                ctx.lineTo(lon, lat);
                ctx.strokeStyle = "red";
                ctx.stroke();
            }
            myTimer.prevLon = lon;
            myTimer.prevLat = lat;
        });
    });

    //setInterval(myTimer, IntervalTime);
    //myTimer();

    timeout = (function () {
        clearInterval(MyInterval)
        alert("Done!");
    });
    setTimeout(timeout, TimeoutT);
    var MyInterval = setInterval(myTimer, IntervalTime);
    myTimer();

</script>
